<!-- <!DOCTYPE html>
<html>
<head>
  <title>Freelancer Job Search</title>
  <link rel="stylesheet" type="text/css" href="jobs.css">
</head>
<body> -->
    <header>
        <h1>My Jobs</h1>
        <div class="search-bar">
          <input type="text" placeholder="Search for jobs...">
          <button type="submit">Search</button>
        </div>
      </header>
    
      <main>
        <div class="job-listing">
          <h2>Photography</h2>
          <p>Company: ABC Web Solutions</p>
          <p>Location: Remote</p>
          <p>Category: Design & Creative</p>
          <button class="apply-button" id="apply-btn" onclick="openApplication()">Apply Now</button>
        </div>
    
        <div class="job-listing">
          <h2>Photography</h2>
          <p>Company: XYZ Software Solutions</p>
          <p>Location: New York, NY</p>
          <p>Category: Web Development</p>
          <button class="apply-button">Apply Now</button>
        </div>
    
        <div class="job-listing">
            <h2>Graphic Design</h2>
            <p>Company: ABC Web Solutions</p>
            <p>Location: Remote</p>
            <p>Category: Design & Creative</p>
            <button class="apply-button">Apply Now</button>
          </div>
      
        <div class="job-listing">
            <h2>Photography</h2>
            <p>Company: XYZ Software Solutions</p>
            <p>Location: New York, NY</p>
            <p>Category: Web Development</p>
            <button class="apply-button">Apply Now</button>
        </div>
    
        <!-- Add more job listings here -->
      </main>
    
      <!-- <script src="script.js"></script>
    </body>
    </html> -->
    