<!-- <!DOCTYPE html>
<html>
<head>
  <title>Freelancer Job Search</title>
  <link rel="stylesheet" type="text/css" href="jobs.css">
</head>
<body> -->
  <header>
    <h1>Freelancer Job Search</h1>
    <div class="search-bar">
      <input type="text" placeholder="Search for jobs...">
      <button type="submit">Search</button>
    </div>
  </header>

  <main>
    <div class="job-listing">
      <h2>Tour Photography</h2>
      <p> Client: Karen Kieran</p>
      <p>Location: Nairobi</p>
      <p>Category: Design & Creative</p>
      <button class="apply-button" id="apply-btn" onclick="openApplication()">Apply Now</button>
    </div>

    <div class="job-listing">
      <h2>Billboard Design</h2>
      <p>Company: XYZ Software Solutions</p>
      <p>Location: Nairobi</p>
      <p>Category: Photography</p>
      <button class="apply-button">Apply Now</button>
    </div>

    <div class="job-listing">
        <h2>Advertisement Photography</h2>
        <p>Company: ABC Cosmetics</p>
        <p>Location: Nairobi</p>
        <p>Category: Design & Creative</p>
        <button class="apply-button">Apply Now</button>
      </div>
  
    <div class="job-listing">
        <h2>Personal Photography</h2>
        <p>Company: King Msambu</p>
        <p>Location: Nairobi, NRB</p>
        <p>Category: Photography</p>
        <button class="apply-button">Apply Now</button>
    </div>

    <!-- Add more job listings here -->
  </main>

  <!-- <script src="script.js"></script>
</body>
</html> -->
