<!DOCTYPE html>
<html>
<head>
  <title>Instagram Grid</title>
  <link rel="stylesheet" type="text/css" href="portfolio_styles.css">
</head>
<body>
    <!-- <div class="portfolio-profile">
        <img class="profile-picture" src="99860.jpg" alt="Profile Picture">

        <div class="portfolio-details">
            <div class="username">John Doe</div>
            <p class="overview">Photographer</p>
        </div>
    </div> -->
    <header class="profile-header">
        <div class="profile-picture">
          <img src="images/wakanda.jpg" alt="Profile Picture">
        </div>
        <div class="profile-info">
          <h1>John Doe</h1>
          <p>Graphic Designer</p>
        </div>
    </header>
    <div>
      <button style="padding:3px" >Add photo</button>
    </div>
  <div class="grid">
    <div class="grid-item">
      <img src="images/lord_shiva-503.jpg" alt="Image 1">
    </div>
    <div class="grid-item">
      <img src="images/wakanda.jpg" alt="Image 2">
    </div>
    <div class="grid-item">
      <img src="images/face.jpg" alt="Image 3">
    </div>
    <div class="grid-item">
        <img src="images/mountains.jpg" alt="Image 1">
    </div>
    <div class="grid-item">
        <img src="images/escape.png" alt="Image 2">
    </div>
    <div class="grid-item">
        <img src="images/skull.jpg" alt="Image 3">
    </div>
    <div class="grid-item">
        <img src="images/lord_shiva-503.jpg" alt="Image 1">
    </div>
    <div class="grid-item">
        <img src="images/wakanda.jpg" alt="Image 2">
    </div>
    <div class="grid-item">
        <img src="images/face.jpg" alt="Image 3">
    </div>
    <div class="grid-item">
        <img src="images/mountains.jpg" alt="Image 1">
    </div>
    <div class="grid-item">
        <img src="images/escape.png" alt="Image 2">
    </div>
    <div class="grid-item">
        <img src="images/skull.jpg" alt="Image 3">
    </div>
    <!-- Add more grid items as needed -->
  </div>

  <!-- <script src="script.js"></script> -->
</body>
</html>
